<nav class="navbar navbar-inverse mynav" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span
            class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a  routerLink="c">C comp</a></li>
          <li><a  routerLink="d">D Comp</a></li>
          <li><a  routerLink="b">B Comp </a></li>
        </ul>
      </li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="reg"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div class="mydiv">
  <h4>Welcome to Angualr App</h4>
  <!-- <app-register></app-register>
    <app-login></app-login> -->
</div>

<!-- 
<h3>
  <a routerLink="a"> A component </a> ||
  <a routerLink="b"> B component </a> ||
  <a routerLink="c"> C component </a> ||
  <a routerLink="loan"> Loan  </a> ||
  <a routerLink="db"> Data Bindding  </a> ||
</h3> -->


<router-outlet> </router-outlet>
<hr>

<!-- <app-databinding></app-databinding> -->
<!-- <app-dbcal></app-dbcal> -->

<!-- <app-directivedemo></app-directivedemo> -->
<!-- <app-pipedemo></app-pipedemo> -->

<!-- <app-db1></app-db1> <br>
<hr>
<app-db2></app-db2> <br> <hr>

<app-db3></app-db3><br>  -->
<!-- <div style="text-align: center;">
  <app-rama></app-rama>
<br>
<app-seetha></app-seetha>
<br> 
<app-ravana></app-ravana>

</div> -->

<div style="text-align: center;">
  
  <!-- <app-tdf></app-tdf> -->
  <!-- <app-tdf2></app-tdf2> -->
  <app-rdf2></app-rdf2>

</div>


