<h4> Raeactive Driven From </h4>
<div>
     <form [formGroup]="student" (ngSubmit)="display(student.value)">
        <h3>    
            FirstName : <input type="text" name="fname" formControlName="firstName"><br>
            Last Name  : <input type="text" name="lname" formControlName="lastName"><br>
            Age  : <input type="text" name="age" formControlName="age"><br>

            <select name="course" formControlName="course">
                <option value="java">COre Java </option>
                <option value="c">C </option>
                <option value="cpp">C++</option>
                <option value="python">Python  </option>
                <option value="mean">MEAN </option>
            </select>
            <br><br><br>

            <input type="submit" name="Resister" value="Register" [disabled]="student.invalid">
            <input  type="reset" name="reset" value="RESET">
        </h3>
    </form>
</div>