<div>
    <form #data="ngForm" (ngSubmit)="mydata(data.value)">
            <div class="form-inline">
                <label>    USER NAME <span style="color: red;" *ngIf="username.invalid">* </span> : </label>
                <input type="text" class="form-inline" required name="username" ngModel #username="ngModel"><br>
                <span *ngIf="username.invalid && username.touched " style="color: red;" > User name is required </span>
            </div>

            <div class="form-inline">  
                <label>    USER PASS  <span style="color: red;" *ngIf="username.invalid">* </span> : </label>
                <input type="text"  class="form-inline" required name="userpass" ngModel #userpass="ngModel"><br>
                <span *ngIf="userpass.invalid && userpass.touched " style="color: red;" > User Pass  is required </span>
            </div>

            <input type="submit" value="LOGIN"  class="btn btn-success">
            <input type="reset" value="RESET" class="btn btn-danger">

    </form>
</div>