<h1>HI Directive Demo </h1> 
<div [ngClass]="{bdr:true,bg:true,mydiv:true}">

    <h5>This is Just for Demo </h5>

</div>

<div [ngClass]="{bdr:true,bg:false,mydiv:true}">

    <h5>This is Just for Demo </h5>

</div>

<div [ngClass]="{bdr:false,bg:true,mydiv:true}">

    <h5>This is Just for Demo </h5>

</div>


<div [ngStyle]="{color:clr}">

    <h5>This is Just for Demo </h5>

</div>








<!-- 
<div *ngIf="abc"> 
    <h4>HI </h4>
</div>

<div *ngIf="xyz"> 
    <h4>Hello  </h4>
</div>

Fruits :<input type="text" #fruit><input type="submit" value="ADD Fruit" (click)="addfriut(fruit.value)"> 

<ul *ngFor="let i of fruits">

    <li>{{i}}</li>
</ul>
<hr>
<div  [ngSwitch]="swithcAbc">
    <h3 *ngSwitchCase="1">Kannda</h3>
    <h3 *ngSwitchCase="2">English </h3>
    <h3 *ngSwitchCase="3">Marati</h3>
    <h3 *ngSwitchCase="4">Telgu</h3>
    <h3 *ngSwitchDefault>HIndi </h3>

</div> -->

<!-- 
<ul *ngFor="let p of people">
    <li *ngIf="p.age >  30">  
         {{ p.name }} --{{ p.age }} 
    </li> 
  </ul> -->



  <h1>HI </h1>




  